.algunos-de-nuestros-temas{
    scroll-margin-top: 8ex;
}
.algunos-de-nuestros-temas__title{
    font-size: 36px;
    font-weight: 400;
    font-family: $secundary-font;
    width: 90%;
    margin: 48px auto 0 auto;
}
.algunos-de-nuestros-temas__cards{
    display: grid;
}
.algunos-de-nuestros-temas__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.algunos-de-nuestros-temas__img{
    width: 104px;
}
.algunos-card__title{
    font-size: 24px;
    font-family: $secundary-font;
    font-weight: 500;
    padding-top: 13px;
    text-align: center;
}
.algunos-de-nuestros-temas__card{
    margin-top: 37px;
}
@media (min-width: 720px){
    .algunos-de-nuestros-temas__cards{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media (min-width: 770px){
    .algunos-de-nuestros-temas{
        scroll-margin-top: 11ex;
    }
}
@media (min-width: 920px){
    .algunos-de-nuestros-temas__cards{
        grid-template-columns: repeat(4, 1fr);

    }
}