.episodios{
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    height: 1000px;
    clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0 100%);
    scroll-margin-top: -17ex;
}
.episodios__title{
    width: 80%;
    margin: 0 auto 26px;
    padding-top: 25px;
}
.episodios__title H2{
    font-size: 48px;
    font-family: $secundary_font;
    margin-top: 196px;
    color: #fff;
    font-weight: 400;
}
.episodios__podcast{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}
.episodios__itpod{
    border: none;
    width: 100%;
    height: 232px;
    border-radius:12px
}
@media (max-width: 1000px){
    .episodios__podcast{
        grid-template-columns: 110%;
    }
    .episodios{
        height: 1500px;
        clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
        scroll-margin-top: -7ex;
    }
    .episodios__title{
        width: 87%;
    }
    .episodios__title H2{
        margin-top: 110px;
    }
}
@media (max-width: 500px){
    .episodios{
        height: 1310px;
        margin-top: 25px;
        clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0 100%);
    }
    .episodios__title h2{
        font-size: 36px;
        margin-top: 54px;
    }
    .episodios__podcast{
        gap: 11px;
    }
}