.episodios{
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    height: 1000px;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}
.episodios__title{
    width: 80%;
    margin: 0 auto 26px;
    padding-top: 25px;
}
.episodios__title H2{
    font-size: 48px;
    font-family: $secundary_font;
    margin-top: 196px;
    color: #fff;
    font-weight: 400;
}
.episodios__podcast{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}
.episodios__itpod{
    width: 100%;
    height: 232px;
}
.trtt{
    width: 100px;
    height: 1000px;
    background-color: #0000FF;

}
@media (max-width: 1000px){
    .episodios__podcast{
        grid-template-columns: 110%;

    }
}