/*font-family: 'IBM Plex Mono', monospace;*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/*font-family: 'IBM Plex Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav__img {
  width: 36px;
}

.nav__toggle {
  border: none;
  background: none;
  display: none;
}

.nav__burguer {
  width: 30px;
}

.nav--link {
  color: #060a24;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__menu__item {
  margin: 0 15px;
}

.nav__menu__link:hover {
  color: #00f3bb;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__menu__link:active {
  color: #8F060A24;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .header {
    height: 44px;
  }
  .nav__img {
    width: 24px;
  }
  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0000EC;
    position: fixed;
    top: 44px;
    width: 100%;
    left: 100%;
    -webkit-transition: left .3s;
    transition: left .3s;
  }
  .nav__menu__item {
    margin: 16px;
  }
  .nav--link {
    color: #fff;
  }
  .nav__toggle {
    display: block;
    cursor: pointer;
  }
  .nav__menu_visible {
    left: 0;
  }
}

.hello-world {
  width: 80%;
  margin: 200px auto 0px;
  padding-left: 40px;
}

.hello__title {
  font-size: 64px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

.sp-world {
  text-decoration: line-through;
}

.sp-punto {
  color: #0000EC;
}

.hello__parrafo {
  width: 50%;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
}

.hello__button {
  width: 226px;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  margin-top: 56px;
  cursor: pointer;
}

.hello__button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.hello__button a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.hello__button a:hover {
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1100px) {
  .hello-world {
    width: 90%;
  }
  .hello__parrafo {
    width: 70%;
  }
}

@media (max-width: 870px) {
  .hello-world {
    margin: 135px auto 0px;
  }
  .hello__title {
    font-size: 50px;
  }
  .hello__parrafo {
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .hello-world {
    margin: 74px auto 0px;
  }
}

@media (max-width: 500px) {
  .hello-world {
    padding-left: 0;
  }
  .hello__title {
    font-size: 36px;
  }
  .hello__parrafo {
    width: 100%;
  }
  .hello__button {
    width: 100%;
    font-size: 16px;
    margin-top: 36px;
  }
}

.episodios {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 1000px;
  -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0 100%);
          clip-path: polygon(0 12%, 100% 0%, 100% 90%, 0 100%);
  scroll-margin-top: -17ex;
}

.episodios__title {
  width: 80%;
  margin: 0 auto 26px;
  padding-top: 25px;
}

.episodios__title H2 {
  font-size: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 196px;
  color: #fff;
  font-weight: 400;
}

.episodios__podcast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.episodios__itpod {
  border: none;
  width: 100%;
  height: 232px;
  border-radius: 12px;
}

@media (max-width: 1000px) {
  .episodios__podcast {
    -ms-grid-columns: 110%;
        grid-template-columns: 110%;
  }
  .episodios {
    height: 1500px;
    -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
            clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
    scroll-margin-top: -7ex;
  }
  .episodios__title {
    width: 87%;
  }
  .episodios__title H2 {
    margin-top: 110px;
  }
}

@media (max-width: 500px) {
  .episodios {
    height: 1310px;
    margin-top: 25px;
    -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0 100%);
            clip-path: polygon(0 2%, 100% 0%, 100% 97%, 0 100%);
  }
  .episodios__title h2 {
    font-size: 36px;
    margin-top: 54px;
  }
  .episodios__podcast {
    gap: 11px;
  }
}

.de_donde_venimos {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 660px;
  scroll-margin-top: 30ex;
}

.de-donde-venimos-cont__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.de-donde-venimos__img {
  position: absolute;
  top: -100px;
  height: 100%;
}

.de-donde-venimos__text {
  margin-top: 68px;
}

.de-donde-venimos__title {
  font-size: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 26px;
}

.de-donde-venimos__paragraph {
  font-family: "IBM Plex Mono", monospace;
  width: 80%;
  margin-bottom: 15px;
}

@media (max-width: 1060px) {
  .de-donde-venimos__paragraph {
    width: 95%;
  }
}

@media (max-width: 815px) {
  .de_donde_venimos {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .de-donde-venimos-cont__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 600px;
  }
  .de-donde-venimos__text {
    width: 90%;
    margin: 0 auto;
  }
  .de-donde-venimos__paragraph {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .de-donde-venimos__img {
    height: 78%;
    top: -134px;
  }
  .de-donde-venimos__title {
    font-size: 36px;
  }
  .de-donde-venimos__text {
    margin-top: -197px;
  }
  .de-donde-venimos__paragraph {
    font-size: 14px;
  }
}

/*.de_donde_venimos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    width: 66%;
}
.de-donde-venimos__img{
    height: 660px;
    position: absolute;
    top: -100px;
}
.de-donde-venimos__title{
    font-size: 48px;
    font-family: $secundary_font;
    font-weight: 400;
    width: 399px;
}*/
.invitadas-estelares {
  margin-top: 150px;
  scroll-margin-top: 7ex;
}

.invitadas__title {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

.invitadas-cont__imgs {
  display: -ms-grid;
  display: grid;
}

.invitadas__img {
  width: 100%;
  height: 100%;
}

@media (min-width: 320px) {
  .invitadas-estelares {
    margin-top: 100px;
  }
}

@media (min-width: 390px) {
  .invitadas-estelares {
    margin-top: 80px;
  }
  .invitadas__title {
    margin-bottom: 15px;
  }
}

@media (min-width: 460px) {
  .invitadas-estelares {
    margin-top: 250px;
  }
  .invitadas__title {
    font-size: 48px;
  }
}

@media (min-width: 520px) {
  .invitadas-cont__imgs {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 770px) {
  .invitadas-estelares {
    scroll-margin-top: 10ex;
  }
}

@media (min-width: 816px) {
  .invitadas-estelares {
    margin-top: 0px;
  }
  .invitadas-cont__imgs {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .invitadas__title {
    width: 80%;
    margin-bottom: 36px;
  }
}

.algunos-de-nuestros-temas {
  scroll-margin-top: 8ex;
}

.algunos-de-nuestros-temas__title {
  font-size: 36px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  width: 90%;
  margin: 48px auto 0 auto;
}

.algunos-de-nuestros-temas__cards {
  display: -ms-grid;
  display: grid;
}

.algunos-de-nuestros-temas__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.algunos-de-nuestros-temas__img {
  width: 104px;
}

.algunos-card__title {
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  padding-top: 13px;
  text-align: center;
}

.algunos-de-nuestros-temas__card {
  margin-top: 37px;
}

@media (min-width: 720px) {
  .algunos-de-nuestros-temas__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 770px) {
  .algunos-de-nuestros-temas {
    scroll-margin-top: 11ex;
  }
}

@media (min-width: 920px) {
  .algunos-de-nuestros-temas__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.ultimas-novedades {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.ultimas__title {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  width: 90%;
  margin: 64px auto 36px auto;
  text-align: center;
}

.ultima__button {
  width: 90%;
  background-color: #00f3bb;
  height: 48px;
  margin: 0 auto;
  display: block;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  max-width: 345px;
  cursor: pointer;
}

.ultima__button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.ultima__button a {
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
  line-height: 45px;
  font-weight: 600;
}

.ultima__button a:hover {
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 575px) {
  .ultimas__title {
    margin: 120px auto 36px auto;
  }
}

@media (min-width: 850px) {
  .ultimas-novedades {
    -webkit-clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (min-width: 920px) {
  .ultimas-novedades {
    height: 500px;
  }
  .ultimas__title {
    margin: 195px auto 36px auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__paragraph {
  font-family: "IBM Plex Mono", monospace;
  margin-top: 24px;
}

.footer__icons {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 31px;
}

@media (min-width: 770px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 95px;
    width: 90%;
    margin: 0 auto;
  }
  .footer__paragraph {
    margin: auto 0;
  }
  .footer__icons {
    margin: auto 0;
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */