/*font-family: 'IBM Plex Mono', monospace;*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/*font-family: 'IBM Plex Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav__img {
  width: 36px;
}

.nav__toggle {
  border: none;
  background: none;
  display: none;
}

.nav__burguer {
  width: 30px;
}

.nav--link {
  color: #060a24;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__menu__item {
  margin: 0 15px;
}

.nav__menu__link:hover {
  color: #00f3bb;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav__menu__link:active {
  color: #8F060A24;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .header {
    height: 44px;
  }
  .nav__img {
    width: 24px;
  }
  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0000EC;
    position: fixed;
    top: 44px;
    width: 100%;
    left: 100%;
    -webkit-transition: left .3s;
    transition: left .3s;
  }
  .nav__menu__item {
    margin: 16px;
  }
  .nav--link {
    color: #fff;
  }
  .nav__toggle {
    display: block;
    cursor: pointer;
  }
  .nav__menu_visible {
    left: 0;
  }
}

.hello-world {
  width: 80%;
  margin: 200px auto 0px;
  padding-left: 40px;
}

.hello__title {
  font-size: 64px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

.sp-world {
  text-decoration: line-through;
}

.sp-punto {
  color: #0000EC;
}

.hello__parrafo {
  width: 50%;
  text-align: justify;
  font-family: "IBM Plex Mono", monospace;
}

.hello__button {
  width: 226px;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 500;
  margin-top: 56px;
}

@media (max-width: 1100px) {
  .hello-world {
    width: 90%;
  }
  .hello__parrafo {
    width: 70%;
  }
}

@media (max-width: 870px) {
  .hello-world {
    margin: 135px auto 0px;
  }
  .hello__title {
    font-size: 50px;
  }
  .hello__parrafo {
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .hello-world {
    margin: 74px auto 0px;
  }
}

@media (max-width: 500px) {
  .hello-world {
    padding-left: 0;
  }
  .hello__title {
    font-size: 36px;
  }
  .hello__parrafo {
    width: 100%;
  }
  .hello__button {
    width: 100%;
    font-size: 16px;
    margin-top: 36px;
  }
}

.episodios {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 1000px;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}

.episodios__title {
  width: 80%;
  margin: 0 auto 26px;
  padding-top: 25px;
}

.episodios__title H2 {
  font-size: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 196px;
  color: #fff;
  font-weight: 400;
}

.episodios__podcast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.episodios__itpod {
  width: 100%;
  height: 232px;
}

.trtt {
  width: 100px;
  height: 1000px;
  background-color: #0000FF;
}

@media (max-width: 1000px) {
  .episodios__podcast {
    -ms-grid-columns: 110%;
        grid-template-columns: 110%;
  }
}
/*# sourceMappingURL=style.css.map */